In [3]:
import pandas as pd

In [26]:
data = pd.read_csv("C:\\Users\\admin\\Downloads\\archive (6)\\population.csv")

In [28]:
data.head()

,Rank,State,Capital,Population,% of Total Population,Males,Females,Sex Ratio,Literacy Rate (%),Rural Population,Urban Population,Area (km*km),Density (1/km*km),Decadal Growth (%)
0,1,Uttar Pradesh,Lucknow,"199,812,341",16.50,"104,480,510","95,331,831",912,67.68,"155,111,022","44,470,455","240,928",828,20.1%
1,2,Maharashtra,Mumbai,"112,374,333",9.28,"58,243,056","54,131,277",929,82.34,"61,545,441","50,827,531","307,713",365,16.0%
2,3,Bihar,Patna,"104,099,452",8.60,"54,278,157","49,821,295",918,61.80,"92,075,028","11,729,609","94,163","1,102",25.1%
3,4,West Bengal,Kolkata,"91,276,115",7.54,"46,809,027","44,467,088",950,76.26,"62,213,676","29,134,060","88,752","1,030",13.9%
4,5,Andhra Pradesh,Hyderabad,"84,580,777",6.99,"42,442,146","42,138,631",993,67.02,"56,361,702","28,219,075","275,045",308,10.98%

In [30]:
data.tail()

,Rank,State,Capital,Population,% of Total Population,Males,Females,Sex Ratio,Literacy Rate (%),Rural Population,Urban Population,Area (km*km),Density (1/km*km),Decadal Growth (%)
30,31,Sikkim,Gangtok,"610,577",0.05,"323,070","287,507",890,81.42,"455,962","151,726","7,096",86,12.4%
31,32,Andaman and Nicobar Islands,Port Blair,"380,581",0.03,"202,871","177,710",876,86.63,"244,411","135,533","8,249",46,6.7%
32,33,Dadra and Nagar Haveli,Silvassa,"343,709",0.03,"193,760","149,949",774,76.24,"183,024","159,829",491,698,55.5%
33,34,Daman and Diu,Daman,"243,247",0.02,"150,301","92,946",618,87.10,"60,331","182,580",112,"2,169",53.5%
34,35,Lakshadweep,Kavaratti,"64,473",0.01,"33,123","31,350",946,91.85,"14,121","50,308",32,"2,013",6.2%

#how will you hide the indexes of dataset

In [32]:
data.style.hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [34]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 2.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.3/11.5 MB 3.2 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 2.9 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.5 MB 3.2 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.5 MB 3.2 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.5 MB 3.5 MB/s eta 0:00:02
   -------------------- ------------------- 6.0/11.5 MB 3.5 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 3.7 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.5 MB 3.7 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.6 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.2.3

In [39]:
data = pd.read_csv("C:\\Users\\admin\\Downloads\\archive (6)\\population.csv",index=False)

TypeError: read_csv() got an unexpected keyword argument 'index'

data.style.set_caption("india census 2011 dataset")

#show the record according to the capital  : new delhi , lucknow, jaipur

In [49]:
data['State'].head().isin(["Lucknow","Jaipur","Delhi"])

0    False
1    False
2    False
3    False
4    False
Name: State, dtype: bool

#how many male worker are there in maharashtra

In [69]:
data.groupby("State").Males.sum().sort_values().head()

State
Nagaland           1,024,649
Manipur            1,290,171
Meghalaya          1,491,832
Tripura            1,874,376
Uttar Pradesh    104,480,510
Name: Males, dtype: object

In [71]:
data.columns

Index(['Rank', 'State', 'Capital', 'Population', '% of Total Population',
       'Males', 'Females', 'Sex Ratio', 'Literacy Rate (%)',
       'Rural Population', 'Urban Population', 'Area (km*km)',
       'Density (1/km*km)', 'Decadal Growth (%)'],
      dtype='object')

In [83]:
data.groupby("State")[["Population","Literacy Rate (%)","Area (km*km)"]].sum()

                              Population  Literacy Rate (%) Area (km*km)
State
Andaman and Nicobar Islands      380,581              86.63        8,249
Andhra Pradesh                84,580,777              67.02      275,045
Arunachal Pradesh              1,383,727              65.38       83,743
Assam                         31,205,576              72.19       78,438
Bihar                        104,099,452              61.80       94,163
Chandigarh                     1,055,450              86.05          114
Chhattisgarh                  25,545,198              70.28      135,191
Dadra and Nagar Haveli           343,709              76.24          491
Daman and Diu                    243,247              87.10          112
Delhi                         16,787,941              86.21        1,484
Goa                            1,458,545              88.70        3,702
Gujarat                       60,439,692              78.03      196,024
Haryana                       25,351,462              75.55       44,212
Himachal Pradesh               6,864,602              82.80       55,673
Jammu and Kashmir             12,541,302              67.16      222,236
Jharkhand                     32,988,134              66.41       79,714
Karnataka                     61,095,297              75.36      191,791
Kerala                        33,406,061              94.00       38,863
Lakshadweep                       64,473              91.85           32
Madhya Pradesh                72,626,809              69.32      308,245
Maharashtra                  112,374,333              82.34      307,713
Manipur                        2,721,756              79.21       22,327
Meghalaya                      2,966,889              74.43       22,429
Mizoram                        1,097,206              91.33       21,081
Nagaland                       1,978,502              79.55       16,579
Odisha                        41,974,218              72.87      155,707
Puducherry                     1,247,953              85.85          479
Punjab                        27,743,338              75.84       50,362
Rajasthan                     68,548,437              66.11      342,239
Sikkim                           610,577              81.42        7,096
Tamil Nadu                    72,147,030              80.09      130,058
Tripura                        3,673,917              87.22       10,486
Uttar Pradesh                199,812,341              67.68      240,928
Uttarakhand                   10,086,292              79.63       53,483
West Bengal                   91,276,115              76.26       88,752

In [87]:
cd "C:\Users\admin\zomatooo\plant-disease\eda

C:\Users\admin\zomatooo\plant-disease\eda

In [89]:
git init

SyntaxError: invalid syntax (3277417328.py, line 1)